<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Smart Editor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="../static/images/favicon.ico">
        <link href="../static/plugins/bootstrap-xeditable/css/bootstrap-editable.css" rel="stylesheet" />

        <link rel="stylesheet" href="../static/plugins/magnific-popup/css/magnific-popup.css"/>

        <!-- App css -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../static/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="../static/css/style.css" rel="stylesheet" type="text/css" />

        <script src="../static/js/modernizr.min.js"></script>

    </head>

    <body>
      !-- Navigation Bar-->
      <header id="topnav">

          <div class="navbar-custom">
              <div class="container-fluid">
                  <div id="navigation">
                      <!-- Navigation Menu-->
                      <ul class="navigation-menu">

                          <li class="has-submenu">
                              <a href="index.html"><i class="icon-speedometer"></i>Dashboard</a>
                          </li>

                          <li class="has-submenu">
                              <a href="index.html"><i class="icon-layers"></i>Template</a>
                          </li>

                          <li class="has-submenu">
                              <a href="filled.html"><i class="icon-briefcase"></i>Recognition</a>
                          </li>

                          <li class="has-submenu">
                              <a href="forms.html"><i class="icon-fire"></i>Forms</a>
                          </li>

                          <li class="has-submenu">
                              <a href="database.html"><i class="icon-docs"></i>Database</a>
                          </li>
                      </ul>
                      <!-- End navigation menu -->
                  </div> <!-- end #navigation -->
              </div> <!-- end container -->
          </div> <!-- end navbar-custom -->
      </header>
      <!-- End Navigation Bar-->



              <div class="wrapper">
                  <div class="container-fluid">

                      <!-- Page-Title -->
                      <div class="row">
                          <div class="col-sm-12">
                              <div class="page-title-box">
                                  <div class="btn-group pull-right">
                                      <ol class="breadcrumb hide-phone p-0 m-0">
                                          <li class="breadcrumb-item"><a href="#">Highdmin</a></li>
                                          <li class="breadcrumb-item"><a href="#">Extra Pages</a></li>
                                          <li class="breadcrumb-item active">Gallery</li>
                                      </ol>
                                  </div>
                                  <h4 class="page-title">Gallery</h4>
                              </div>
                          </div>
                      </div>
                      <!-- end page title end breadcrumb -->

                      <!-- SECTION FILTER
                              ================================================== -->
                              <div class="row">
                                  <div class="col-lg-12 col-md-12 col-sm-12 ">
                                      <div class="portfolioFilter text-center gallery-second">
                                          <a href="#" data-filter="*" class="current">All</a>
                                          <a href="#" data-filter=".webdesign">Web Design</a>
                                          <a href="#" data-filter=".graphicdesign">Graphic Design</a>
                                          <a href="#" data-filter=".illustrator">Illustrator</a>
                                          <a href="#" data-filter=".photography">Photography</a>
                                      </div>
                                  </div>
                              </div>

                              <div class="port">
                                  <div class="portfolioContainer">
                                      <div class="col-sm-6 col-md-4 webdesign illustrator">
                                          <a href="../static/images/small/img-1.jpg" class="image-popup">
                                              <div class="portfolio-masonry-box">
                                                  <div class="portfolio-masonry-img">
                                                      <img src="../static/images/small/img-1.jpg" class="thumb-img img-fluid" alt="work-thumbnail">
                                                  </div>
                                                  <div class="portfolio-masonry-detail">
                                                      <h4 class="font-18">Street Photography</h4>
                                                      <p>Graphic Design</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>

                                      <div class="col-sm-6 col-md-4 graphicdesign illustrator photography">
                                          <a href="../static/images/small/img-2.jpg" class="image-popup">
                                              <div class="portfolio-masonry-box">
                                                  <div class="portfolio-masonry-img">
                                                      <img src="../static/images/small/img-2.jpg" class="thumb-img" alt="work-thumbnail">
                                                  </div>
                                                  <div class="portfolio-masonry-detail">
                                                      <h4 class="font-18">Traditional Building</h4>
                                                      <p>Photography</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>

                                      <div class="col-sm-6 col-md-4 webdesign graphicdesign">
                                          <a href="../static/images/small/img-3.jpg" class="image-popup">
                                              <div class="portfolio-masonry-box">
                                                  <div class="portfolio-masonry-img">
                                                      <img src="../static/images/small/img-3.jpg" class="thumb-img img-fluid" alt="work-thumbnail">
                                                  </div>
                                                  <div class="portfolio-masonry-detail">
                                                      <h4 class="font-18">Beautiful House</h4>
                                                      <p>Natural</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>

                                      <div class="col-sm-6 col-md-4 illustrator photography">
                                          <a href="../static/images/small/img-4.jpg" class="image-popup">
                                              <div class="portfolio-masonry-box">
                                                  <div class="portfolio-masonry-img">
                                                      <img src="../static/images/small/img-4.jpg" class="thumb-img img-fluid" alt="work-thumbnail">
                                                  </div>
                                                  <div class="portfolio-masonry-detail">
                                                      <h4 class="font-18">Creative Agency</h4>
                                                      <p>Natural</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>

                                      <div class="col-sm-6 col-md-4 graphicdesign photography">
                                          <a href="../static/images/small/img-5.jpg" class="image-popup">
                                              <div class="portfolio-masonry-box">
                                                  <div class="portfolio-masonry-img">
                                                      <img src="../static/images/small/img-5.jpg" class="thumb-img" alt="work-thumbnail">
                                                  </div>
                                                  <div class="portfolio-masonry-detail">
                                                      <h4 class="font-18">Street Photography</h4>
                                                      <p>Photography</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>

                                      <div class="col-sm-6 col-md-4 webdesign photography">
                                          <a href="../static/images/small/img-6.jpg" class="image-popup">
                                              <div class="portfolio-masonry-box">
                                                  <div class="portfolio-masonry-img">
                                                      <img src="../static/images/small/img-6.jpg" class="thumb-img img-fluid" alt="work-thumbnail">
                                                  </div>
                                                  <div class="portfolio-masonry-detail">
                                                      <h4 class="font-18">Creative Agency</h4>
                                                      <p>Web Design</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>

                                      <div class="col-sm-6 col-md-4 illustrator photography graphicdesign">
                                          <a href="../static/images/small/img-7.jpg" class="image-popup">
                                              <div class="portfolio-masonry-box">
                                                  <div class="portfolio-masonry-img">
                                                      <img src="../static/images/small/img-7.jpg" class="thumb-img" alt="work-thumbnail">
                                                  </div>
                                                  <div class="portfolio-masonry-detail">
                                                      <h4 class="font-18">Traditional Building</h4>
                                                      <p>Photography</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>

                                      <div class="col-sm-6 col-md-4 graphicdesign photography webdesign">
                                          <a href="../static/images/small/img-1.jpg" class="image-popup">
                                              <div class="portfolio-masonry-box">
                                                  <div class="portfolio-masonry-img">
                                                      <img src="../static/images/small/img-1.jpg" class="thumb-img img-fluid" alt="work-thumbnail">
                                                  </div>
                                                  <div class="portfolio-masonry-detail">
                                                      <h4 class="font-18">Beautiful House</h4>
                                                      <p>Natural</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>

                                      <div class="col-sm-6 col-md-4 webdesign illustrator">
                                          <a href="../static/images/small/img-3.jpg" class="image-popup">
                                              <div class="portfolio-masonry-box">
                                                  <div class="portfolio-masonry-img">
                                                      <img src="../static/images/small/img-3.jpg" class="thumb-img img-fluid" alt="work-thumbnail">
                                                  </div>
                                                  <div class="portfolio-masonry-detail">
                                                      <h4 class="font-18">Creative Agency</h4>
                                                      <p>Natural</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>

                                  </div>
                              </div> <!-- End row -->

                  </div> <!-- end container -->
              </div>
              <!-- end wrapper -->


        <!-- Footer -->
        <!-- <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        2018 © Highdmin. - Coderthemes.com
                    </div>
                </div>
            </div>
        </footer> -->
        <!-- End Footer -->


        <!-- jQuery  -->
          <script src="../static/js/jquery.min.js"></script>
          <script src="../static/js/popper.min.js"></script>
          <script src="../static/js/bootstrap.min.js"></script>
          <script src="../static/js/waves.js"></script>
          <script src="../static/js/jquery.slimscroll.js"></script>

          <script type="text/javascript" src="../static/plugins/isotope/js/isotope.pkgd.min.js"></script>
          <script type="text/javascript" src="../static/plugins/magnific-popup/js/jquery.magnific-popup.min.js"></script>

          <!-- App js -->
          <script src="../static/js/jquery.core.js"></script>
          <script src="../static/js/jquery.app.js"></script>

          <script type="text/javascript">
              $(window).on('load', function () {
                  var $container = $('.portfolioContainer');
                  $container.isotope({
                      filter: '*',
                      animationOptions: {
                          duration: 750,
                          easing: 'linear',
                          queue: false
                      }
                  });

                  $('.portfolioFilter a').click(function(){
                      $('.portfolioFilter .current').removeClass('current');
                      $(this).addClass('current');

                      var selector = $(this).attr('data-filter');
                      $container.isotope({
                          filter: selector,
                          animationOptions: {
                              duration: 750,
                              easing: 'linear',
                              queue: false
                          }
                      });
                      return false;
                  });
              });
              $(document).ready(function() {
                  $('.image-popup').magnificPopup({
                      type: 'image',
                      closeOnContentClick: true,
                      mainClass: 'mfp-fade',
                      gallery: {
                          enabled: true,
                          navigateByImgClick: true,
                          preload: [0,1] // Will preload 0 - before current, and 1 after the current image
                      }
                  });
              });
          </script>

    </body>
</html>
