/* .App {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-family: "Quattrocento Sans", sans-serif;
}

.Sidebar {
   width: 20vw;
  height: 100vh;
  overflow: auto;
  background: #eee;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px; 

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 220px;
  flex-shrink: 0;
  min-width: 1px;
  max-width: 260px;
  background: #90caf9; 
  z-index: 201;
  height: 100vh;
  border-right: 1px solid rgb(122, 122, 122);
  box-sizing: content-box;
}

button {
  background-color: #2196f3;
  border: none;
  display: inline-block;
  outline: 0;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0 7px 20px;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}
li {
  padding: 10px;
}
 li:focus {
  color: darkslateblue;
} 

.Main {
   color: orange;
  flex: 1;
  height: 100vh;
  overflow: auto;
  padding: 20px;
  display: block;
  position: absolute;
  top: 0;
  left: 20vw; 

  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 1px;
  height: 100vh;
  padding: 20px;
} */

.page-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

.instance-header {
  background-color: #f5f6f7;
  color: #fff;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 36px;
  flex-wrap: nowrap;
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1;
}

.instance-header-connecting-string {
  background-color: #6d7984;
  box-shadow: none;
  cursor: pointer;
  flex-basis: auto;
  width: 250px;
  flex-shrink: 0;
  flex-grow: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  transition: width 400ms ease;
}
.instance-header-icon-container {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}
.instance-header-icon-home {
  width: 36px;
  height: 36px;
  margin-right: 0px;
  padding-top: 10px;
  transition: margin-right 400ms ease, background-color 400ms ease;
}

.instance-header-details {
  display: flex;
  flex-basis: auto;
  overflow: hidden;
  padding-top: 8px;
  max-height: 28px;
  font-weight: bold;
  transition: all 400ms ease;
}

.instance-header-details-left-details {
  display: flex;
  padding-top: 8px;
  font-weight: normal;
  font-size: 14px;
}

.instance-header-items-left {
  padding-left: 5px;
  justify-content: flex-start;
  display: flex;
  flex-grow: 2;
  flex-shrink: 10;
  align-items: center;
}

.instance-header-items-right {
  padding-right: 5px;
  flex-direction: row-reverse;
  display: flex;
  flex-grow: 2;
  align-items: center;
  flex-shrink: 10;
}

.instance-header-items-right-details {
  padding: 0 5px;
  text-decoration: none;
  color: #807f7f;
}

.compass-sidebar {
  flex-basis: 250px;
  background: #4c5259;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0;
  overflow: hidden;
  transition: flex-basis 400ms ease;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 600px;
  order: 2;
  overflow-x: hidden;
}

/* serach */
.compass-sidebar-filter {
  position: relative;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 2;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.compass-sidebar-search-icon {
  position: absolute;
  top: 8px;
  left: 11px;
  color: #fff;
  cursor: pointer;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

.compass-sidebar-search-input {
  padding: 7px 5px 5px 36px;
  height: auto;
  background: #42494f;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 14px;
  outline: none;
  margin: 0;
}

.compass-sidebar-content {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.resize-trigger {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  padding: 8px;
  z-index: 1;
}
