.signup-flow {
  background-color: #4c5259;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* left */
.signup-wrapper {
  position: relative;
  background-color: #fff;
  width: 50%;
  /* min-width: ;
    max-width: ;  */
  float: left;
  z-index: 1;
  overflow-y: auto;
  word-wrap: break-word;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.signup-wrapper-container {
  position: relative;
  min-width: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}
a,
a:link {
  text-decoration: none;
}

.logo-link {
  display: inline-block;
}

.SE-logo {
  flex-grow: 0;
  background: 0;
  margin: 1rem;
  width: 120px;
  height: 37px;
  boder: 0;
  vertical-align: middle;
}

form {
  display: block;
  margin-top: 0em;
}

/* right */
.signup-graphics-pane {
  width: auto;
  overflow: hidden;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}
