.compass-sidebar {
  flex-basis: 250px;
  background: #4c5259;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0;
  overflow: hidden;
  transition: flex-basis 400ms ease;
}

/* serach */
.compass-sidebar-filter {
  position: relative;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 2;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.compass-sidebar-search-icon {
  position: absolute;
  top: 8px;
  left: 11px;
  color: #fff;
  cursor: pointer;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

.compass-sidebar-search-input {
  padding: 7px 5px 5px 36px;
  height: auto;
  background: #42494f;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 14px;
  outline: none;
  margin: 0;
}
