.page-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

.instance-header {
  background-color: #f5f6f7;
  color: #fff;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 36px;
  flex-wrap: nowrap;
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1;
}

.instance-header-connecting-string {
  background-color: #6d7984;
  box-shadow: none;
  cursor: pointer;
  flex-basis: auto;
  width: 250px;
  flex-shrink: 0;
  flex-grow: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  transition: width 400ms ease;
}
.instance-header-icon-container {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}
.instance-header-icon-home {
  width: 36px;
  height: 36px;
  margin-right: 0px;
  padding-top: 10px;
  transition: margin-right 400ms ease, background-color 400ms ease;
}

.instance-header-details {
  display: flex;
  flex-basis: auto;
  overflow: hidden;
  padding-top: 8px;
  max-height: 28px;
  font-weight: bold;
  transition: all 400ms ease;
}

.instance-header-details-left-details {
  display: flex;
  padding-top: 8px;
  font-weight: normal;
  font-size: 14px;
}

.instance-header-items-left {
  padding-left: 5px;
  justify-content: flex-start;
  display: flex;
  flex-grow: 2;
  flex-shrink: 10;
  align-items: center;
}

.instance-header-items-right {
  padding-right: 5px;
  flex-direction: row-reverse;
  display: flex;
  flex-grow: 2;
  align-items: center;
  flex-shrink: 10;
}

.instance-header-items-right-details {
  padding: 0 5px;
  text-decoration: none;
  color: #807f7f;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 600px;
  order: 2;
  overflow-x: hidden;
}
